force-app/main/default/flows/Apply_Rule.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Check_Scenario_Records</name>
        <label>Check Scenario Records</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <actionName>RuleApplyingCheck</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Scenarios</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>scenarios</name>
            <value>
                <elementReference>Get_Matching_Scenarios</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>rule</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Count</name>
        <label>Assign Count</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>scenarioCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference
        >Check_Scenario_Records.records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EndScreen</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>prefix</name>
        <dataType>String</dataType>
        <expression
    >TRIM(LEFT({!recordId.Name} ,Find(&quot;-&quot;, {!recordId.Name})-1))</expression>
    </formulas>
    <interviewLabel>Apply Rule {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BA Apply Rule</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Matching_Scenarios</name>
        <label>Get Matching Scenarios</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Scenario_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>scenarioName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Scenario__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Scenarios</name>
        <label>Update Scenarios</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Assign_Count</targetReference>
        </connector>
        <inputReference>Check_Scenario_Records.records</inputReference>
    </recordUpdates>
    <screens>
        <name>EndScreen</name>
        <label>End Screen</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>endMsg</name>
            <fieldText
      >&lt;p&gt;The current rule has been applied to {!scenarioCount} scenarios.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>StartScreen</name>
        <label>StartScreen</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Matching_Scenarios</targetReference>
        </connector>
        <fields>
            <name>scenarioName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>prefix</elementReference>
            </defaultValue>
            <fieldText>Scenario Name Prefix</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>startMsg</name>
            <fieldText
      >&lt;p&gt;This process will check all the scenarios named with the above prefix, and update the matching one with current rule.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>StartScreen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Rule__c</objectType>
    </variables>
    <variables>
        <name>scenarioCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
