force-app/main/default/flows/BAT_Collect_Elements.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_to_List</name>
        <label>Add to List</label>
        <locationX>704</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>elements</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>element</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>order_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Element</name>
        <label>Assign Element</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>element.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>elementName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>element.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>element.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>element.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>descriptonV</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderV</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>prefixV</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>prefix</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Element</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Element_0</name>
        <label>Assign Element</label>
        <locationX>704</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>element.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>elementName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>element.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>same</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>element.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>orderV</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>element.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>same</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>order_1</name>
        <label>order + 1</label>
        <locationX>440</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>orderV</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Less_Than_7</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Less_Than_7</name>
        <label>Less Than 7</label>
        <locationX>440</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Assign_Element_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>less_7_not_done</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>orderV</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>done</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>StartScreen</targetReference>
            </connector>
            <label>less 7 not done</label>
        </rules>
        <rules>
            <name>more_than_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>orderV</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>6.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Elements</targetReference>
            </connector>
            <label>more than 6</label>
        </rules>
    </decisions>
    <decisions>
        <name>Need_More</name>
        <label>Need More?</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>order_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>moreNeeded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>More</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>StartScreen</targetReference>
            </connector>
            <label>moreNeeded</label>
        </rules>
    </decisions>
    <formulas>
        <name>elementName</name>
        <dataType>String</dataType>
        <expression
    >LEFT(({!prefix} + &apos;-&apos; + TEXT({!Order}) + &apos;-&apos; +{!Value}),80)</expression>
    </formulas>
    <interviewLabel
  >BAT Collect Elements {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BAT Collect Elements</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Element</name>
        <label>Create Element</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Need_More</targetReference>
        </connector>
        <inputReference>element</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Elements</name>
        <label>Create Elements</label>
        <locationX>440</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>EndScreen</targetReference>
        </connector>
        <inputReference>elements</inputReference>
    </recordCreates>
    <screens>
        <name>EndScreen</name>
        <label>End Screen</label>
        <locationX>440</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>endMsg</name>
            <fieldText
      >&lt;p&gt;All {!count} elements of 6 variables have been created.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>StartScreen</name>
        <label>Start Screen</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Element</targetReference>
        </connector>
        <fields>
            <name>prefix</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>prefixV</elementReference>
            </defaultValue>
            <fieldText>Element Prefix</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>descriptonV</elementReference>
            </defaultValue>
            <fieldText>Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Order</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>orderV</elementReference>
            </defaultValue>
            <fieldText>Order</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Value</name>
            <dataType>String</dataType>
            <fieldText>Value</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>More</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>More element of same order?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>done</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>All done</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>StartScreen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>descriptonV</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>element</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ElementData__c</objectType>
    </variables>
    <variables>
        <name>elements</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ElementData__c</objectType>
    </variables>
    <variables>
        <name>orderV</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>prefixV</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
