force-app/main/default/flows/BAT_Create_Scenarios.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Scenario_Records_from_Elements</name>
        <label>Create Scenario Records from Elements</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <actionName>ScenarioFromElementsCreate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Count</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorScreen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>elementName</name>
            <value>
                <elementReference>prefix</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Count</name>
        <label>Assign Count</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>scenarioCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference
        >Create_Scenario_Records_from_Elements.records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision</name>
        <label>Decision</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>TooManyScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Less_than_10k</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scenarioCount</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>10000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Scenarios</targetReference>
            </connector>
            <label>Less than 10k</label>
        </rules>
    </decisions>
    <interviewLabel
  >BAT Create Scenarios {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BAT Create Scenarios</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Scenarios</name>
        <label>Create Scenarios</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>EndScreen</targetReference>
        </connector>
        <inputReference
    >Create_Scenario_Records_from_Elements.records</inputReference>
    </recordCreates>
    <screens>
        <name>EndScreen</name>
        <label>End Screen</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>msgEnd</name>
            <fieldText
      >&lt;p&gt;All {!scenarioCount} possible scenarios have been created.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>errorScreen</name>
        <label>errorScreen</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorMsg</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>StartScreen</name>
        <label>Start Screen</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference
      >Create_Scenario_Records_from_Elements</targetReference>
        </connector>
        <fields>
            <name>prefix</name>
            <dataType>String</dataType>
            <fieldText>Scenario Name Prefix</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TooManyScreen</name>
        <label>Too Many Screen</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>msgTooMany</name>
            <fieldText
      >&lt;p&gt;Possible scenarios ({!scenarioCount}) have exceeded 10000. Please try to reduce them.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>StartScreen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>scenarioCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
