force-app/main/default/flows/Collect_Elements.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_to_List</name>
        <label>Add to List</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>elements</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Factor_element</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>is_last</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_List</name>
        <label>Clear List</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>elements</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>elementsEmpty</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_Input</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>is_last</name>
        <label>is last?</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Collect_Input</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>lastOne</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Last_element</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>lastOne</label>
        </rules>
    </decisions>
    <interviewLabel>Collect Elements {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BA sub Collect Elements</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Collect_Input</name>
        <label>Collect Input</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_to_List</targetReference>
        </connector>
        <fields>
            <name>CurrentLabel</name>
            <fieldText
      >&lt;p&gt;Current factor list: &lt;b&gt;{!currentList}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Factor_element</name>
            <dataType>String</dataType>
            <fieldText>Factor element</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Last_element</name>
            <dataType>Boolean</dataType>
            <fieldText>Last element in this factor list?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Clear_List</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>elements</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>elementsEmpty</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>noMoreList</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
