force-app/main/default/flows/Create_Rule.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Rule</name>
        <label>Assign Rule</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>rule.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ruleName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rule.Factor1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Factor1_element</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rule.Factor2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Factor2_element</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rule.Factor3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Factor3_element</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rule.Factor4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Factor4_element</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rule.Factor5__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Factor5_element</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rule.Factor6__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Factor6_element</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rule.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ruleOrder</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Rule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reduce_Count</name>
        <label>Reduce Count</label>
        <locationX>308</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>orderCount</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EndScreen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Need_More</name>
        <label>Need More?</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Reduce_Count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>More_needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>more</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collect_Input</targetReference>
            </connector>
            <label>More needed</label>
        </rules>
    </decisions>
    <formulas>
        <name>ruleOrder</name>
        <dataType>Number</dataType>
        <expression>BLANKVALUE({!order},
{!orderCount})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Create Rule {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Rule</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Rule</name>
        <label>Create Rule</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Need_More</targetReference>
        </connector>
        <inputReference>rule</inputReference>
    </recordCreates>
    <screens>
        <name>Collect_Input</name>
        <label>Collect Input</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Rule</targetReference>
        </connector>
        <fields>
            <name>prefix</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>prefix</elementReference>
            </defaultValue>
            <fieldText>Rule Name Prefix</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>order</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>orderCount</elementReference>
            </defaultValue>
            <fieldText>Order</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Factor1_element</name>
            <dataType>String</dataType>
            <fieldText>Factor1 element</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Factor2_element</name>
            <dataType>String</dataType>
            <fieldText>Factor2 element</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Factor3_element</name>
            <dataType>String</dataType>
            <fieldText>Factor3 element</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Factor4_element</name>
            <dataType>String</dataType>
            <fieldText>Factor4 element</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Factor5_element</name>
            <dataType>String</dataType>
            <fieldText>Factor5 element</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Factor6_element</name>
            <dataType>String</dataType>
            <fieldText>Factor6 element</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>more</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Need more?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>EndScreen</name>
        <label>End Screen</label>
        <locationX>308</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>endMsg</name>
            <fieldText
      >&lt;p&gt;All {!orderCount} rules have been created.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Collect_Input</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ruleName</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!prefix} - {!ruleOrder}</text>
    </textTemplates>
    <variables>
        <name>orderCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>rule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Rule__c</objectType>
    </variables>
</Flow>
