force-app/main/default/flows/Create_Scenarios.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Scenario_Records</name>
        <label>Create Scenario Records</label>
        <locationX>176</locationX>
        <locationY>1718</locationY>
        <actionName>ScenarioCombinationGenerate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Scenarios</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>factor1</name>
            <value>
                <elementReference>factor1</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>factor2</name>
            <value>
                <elementReference>factor2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>factor3</name>
            <value>
                <elementReference>factor3</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>factor4</name>
            <value>
                <elementReference>factor4</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>factor5</name>
            <value>
                <elementReference>factor5</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>factor6</name>
            <value>
                <elementReference>factor6</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>name</name>
            <value>
                <elementReference>prefix</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_List1</name>
        <label>Assign List1</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>currentList</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Factor1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>collect_Elements_for_Factor1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_List2</name>
        <label>Assign List2</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>currentList</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Factor2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>collect_Elements_for_Factor2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_List3</name>
        <label>Assign List3</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>currentList</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Factor3</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>collect_Elements_for_Factor3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_List4</name>
        <label>Assign List4</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>currentList</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Factor4</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>collect_Elements_for_Factor4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_List5</name>
        <label>Assign List5</label>
        <locationX>176</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>currentList</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Factor5</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>collect_Elements_for_Factor5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_List6</name>
        <label>Assign List6</label>
        <locationX>176</locationX>
        <locationY>1478</locationY>
        <assignmentItems>
            <assignToReference>currentList</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Factor6</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>collect_Elements_for_Factor6</targetReference>
        </connector>
    </assignments>
    <description
  >Collect 6 factors to create all possible scenarios.</description>
    <interviewLabel>Create Scenarios {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BA Create Scenarios</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Scenarios</name>
        <label>Create Scenarios</label>
        <locationX>176</locationX>
        <locationY>1838</locationY>
        <connector>
            <targetReference>EndScreen</targetReference>
        </connector>
        <inputReference>Create_Scenario_Records.records</inputReference>
    </recordCreates>
    <screens>
        <name>EndScreen</name>
        <label>End Screen</label>
        <locationX>176</locationX>
        <locationY>1958</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>msg</name>
            <fieldText
      >&lt;p&gt;You scenarios have been created.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>StartScreen</name>
        <label>Start Screen</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_List1</targetReference>
        </connector>
        <fields>
            <name>prefix</name>
            <dataType>String</dataType>
            <fieldText>Scenario Name Prefix</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>StartScreen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>collect_Elements_for_Factor1</name>
        <label>collect Elements for Factor1</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Assign_List2</targetReference>
        </connector>
        <flowName>Collect_Elements</flowName>
        <inputAssignments>
            <name>currentList</name>
            <value>
                <elementReference>currentList</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>factor1</assignToReference>
            <name>elements</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>collect_Elements_for_Factor2</name>
        <label>collect Elements for Factor2</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Assign_List3</targetReference>
        </connector>
        <flowName>Collect_Elements</flowName>
        <inputAssignments>
            <name>currentList</name>
            <value>
                <elementReference>currentList</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>factor2</assignToReference>
            <name>elements</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>collect_Elements_for_Factor3</name>
        <label>collect Elements for Factor3</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Assign_List4</targetReference>
        </connector>
        <flowName>Collect_Elements</flowName>
        <inputAssignments>
            <name>currentList</name>
            <value>
                <elementReference>currentList</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>factor3</assignToReference>
            <name>elements</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>collect_Elements_for_Factor4</name>
        <label>collect Elements for Factor4</label>
        <locationX>176</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Assign_List5</targetReference>
        </connector>
        <flowName>Collect_Elements</flowName>
        <inputAssignments>
            <name>currentList</name>
            <value>
                <elementReference>currentList</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>factor4</assignToReference>
            <name>elements</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>collect_Elements_for_Factor5</name>
        <label>collect Elements for Factor5</label>
        <locationX>176</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>Assign_List6</targetReference>
        </connector>
        <flowName>Collect_Elements</flowName>
        <inputAssignments>
            <name>currentList</name>
            <value>
                <elementReference>currentList</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>factor5</assignToReference>
            <name>elements</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>collect_Elements_for_Factor6</name>
        <label>collect Elements for Factor6</label>
        <locationX>176</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>Create_Scenario_Records</targetReference>
        </connector>
        <flowName>Collect_Elements</flowName>
        <inputAssignments>
            <name>currentList</name>
            <value>
                <elementReference>currentList</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>factor6</assignToReference>
            <name>elements</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>currentList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>factor1</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>factor2</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>factor3</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>factor4</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>factor5</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>factor6</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
